body {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin:0;
 padding:0 ;
 line-height: 1.6;
 background: black;

}
header {
    position:relative;
    text-align: center;
}

h2 {
    position: static;
    left: 50%;
}

.header-title {
position: absolute;
left:35%;
top: 40%;
font-size: 3rem;
font-weight: bold;
margin: 0;
color:white;
}
.header-img {
 width: 100%;
 height: 500px;
 display: block;
 object-fit: cover;
}

nav ul {
    color: white;
    margin: 0;
    padding: 10px ;
    Display:flex;
    justify-content: center;
    gap:50px;
}
main {
 width: 70%;
    margin: 0 auto;
    background-color: yellow;
    padding-bottom: 20px;

}

.site-title {
position: absolute;
top: 50%;
left: 50%;
padding: 20px 40px;
border-radius: 10px;
font-size: 2.5rem;

 }

article{
    padding: 20px;
    max-width: 800px;
    margin: auto;
 }

 .article-img{
   float: left;
   margin: 0 20px 10px 0;
   width: 40%;
   border-radius: 10px;
}
.BRANDS{
  padding: 40px 20px;
  max-width: 800px;
  margin: 10px auto;
  border-radius: 10px;
  text-align: center;
}
.BRANDS h2{
  
position:static;
color: white;
padding: 20px;
border-radius: 30px;
font-size: 2.5rem;
margin-bottom: 20px;
background-color: yellow;
text-align: center;
}

.BRANDS ul {
list-style-type: disc;
padding-left: 0;
display: inline-block;
text-align: left;
}


.contact {
    padding: 20px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    border: 1px solid #999;
    padding: 8px;
    border-radius: 3px;
}

.contact form textarea {
    height: 100px;
}

.contact button {
    background-color: #bcd7d4;
    border: 1px solid #888;
    padding: 8px 16px;
    cursor: pointer;
}


button[type="submit"]:hover {
background-color: white;
color: black;
}

form button {
width:auto;
}

footer {
text-align: center;
padding: 10px;
background-color: black;
color: #fff;
margin-top: 40px;
}  

